@import "../../scss/mixins/color";

.form {

    &__dropdown {
        position: relative;
        display: flex;
        width: 320px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        min-height: 44px;
        box-sizing: border-box;
        border-radius: 4px;

        &:hover {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }

    &__input_dropdown {
        border: none;
        outline: none;
        width: 260px;
        vertical-align: middle;
        margin: 12px 6px 11px 15px;

        &::placeholder {
            @include color('d', 0.75);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__btn {
        width: 42px;
        height: 42px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        padding: 0;
    }

    &__dropdown-svg{
        fill:#1F2041;
        fill-opacity: 0.5;
    }

    &__dropdown-svg-click {
      fill: #1F2041;
      fill-opacity: 0.75;
    }

    &__dropdown_click {
        position: relative;
        display: flex;
        width: 320px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        min-height: 44px;
        box-sizing: border-box;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }
}

.dropdown {

    &__header {
        margin-bottom: 5px;
    }
    
    &__menu {
        position: absolute;
        z-index: 999;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.5);
        border-left: 1px solid rgba(31, 32, 65, 0.5);
        border-right: 1px solid rgba(31, 32, 65, 0.5);
        width: 318px;
        height: 159px;
        background: #FFFFFF;
    }
    &__guests {
        display: flex;
        justify-content: space-between;
    }

    &__family-members {
        padding: 15px 0 0 15px;
    }

    &__family-item {
        margin: 0 0 22px 0;
        line-height: 14px;
        font-family: Montserrat-bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        @include color('d', 1);
    }

    &__buttons {
        padding: 7px 7px 0 0;
    }

    &__buttons-item {
        display: flex;
        justify-content: flex-end;
        height: 31px;
        margin-bottom: 6px;
    }

    &__number-guests {
        width: 32px;
        height: 31px;
        font-family: Montserrat-bold;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        @include color('d', 1);
    }

    &__input_guests {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        font-family: Montserrat-bold;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        @include color('p', 1);
        margin: 7px 7px 13px 15px;
    }
}