include ../../mixins/date_dropdown/date_dropdown
include ../../mixins/dropdown/dropdown
include ../../mixins/button/button

mixin calendar()
    .calendar.datepicker-here(
            type='text' 
            data-position='right top'
            inline=true
        )
