
mixin textField(action, text, Email, titleLeft, titleRight)
  .buttons__form_text_field 
    form.form_text_field(action=action)
      input.input_text_field(
        type=text
        placeholder=Email
        )