@import "../../scss/mixins/color";

.range_slider {


    &__header {
        display: flex;
        justify-content: space-between;
        width: 266px;
    }

    &__content {
        
    }
    &__slider{
        width: 266px;
    }
}

