@import "../../scss/mixins/color";


.button {

  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 320px;
    height: 44px;
    @include color('gp', 1);
    border-radius: 22px;
    color: #fff;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  &__default_text {
    position: absolute;
    text-align: center;
  }

  &__default_svg {
    height: 44px;
    width: 44px;
    // padding: 13px;
    margin: 0 0 0 267px;
  }

  &__default_path {
    display: none;
  }

  &__default_pathOn {
    margin-top: 8px;
  }
}