//- includes/header.pug
header.header
  .container
    .header__logo
      a.logo(href='#')
        img(src=require('./images/Group.png').default alt='logo')
        img(src=require('./images/TOXIN.png').default alt='logo')
      .header__inner
        nav.menu
          ul.menu__list
            li.menu__list-item
              a.menu__list-link.menu__list-link--active(href='#') О нас
            li.menu__list-item
              a.menu__list-link.menu__list-link--services(href='#') Услуги
            li.menu__list-item
              a.menu__list-link(href='#') Вакансии
            li.menu__list-item
              a.menu__list-link(href='#') Новости
            li.menu__list-item
              a.menu__list-link.menu__list-link--services(href='#') Соглашения
        button.login-button войти
        button.register зарегистрироваться
