@import "../../scss/mixins/color";


.link_main {

  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BC9CFF;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}