
mixin rules_cont()
  ul.rules_cont__list
    li.rules_cont__item Нельзя с питомцами
    li.rules_cont__item Без вечеринок и мероприятий
    li.rules_cont__item Время прибытия — после 13:00, а выезд до 12:00