@import "../../../scss/mixins/color";


.btn_additional {

  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 99px;
    height: 44px;
    @include color('gp', 1);
    border-radius: 22px;
    color: #fff;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  &__transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 99px;
    height: 44px;
    background: #fff;
    border-radius: 22px;
    color: #BC9CFF;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}