@mixin color($color, $transparency) {
    @if($color=='d') {
        color: rgba(31, 32, 65, $transparency);
    }
    @if($color=='p') {
        color: #BC9CFF;
        opacity: $transparency;
    }
    @if($color=='g') {
        color: #6FCF97;
        opacity: $transparency;
    }
    @if($color=='gg') {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        opacity: $transparency;
    }
    @if($color=='gp') {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: $transparency;
    }
}