@import "../../scss/mixins/color";

.toggle {

  &__title {
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    @include color('d', 1);
    margin-bottom: 17px;
  }

  &__item {
    position: relative;
    display: flex;
  }
  &__button {
    display: inline-block;
    width: 38px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid #BC9CFF;
    background: #fff;
    z-index: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition-duration: 1s00ms;
  }

  &__button::after {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    top: 3px;
    right: 3px;
    transition-duration: 100ms;
    position: absolute;
    z-index: 1;
  }

  &__button-off {
    border: 1px solid rgba(31, 32, 65, 0.25);
  }

  &__button-off::after {
    background: rgba(31, 32, 65, 0.25);
    left: 3px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    @include color('d', 0.75);
    margin: 0 0 0 10px;
  }

}