include ../../mixins/date_dropdown/date_dropdown
include ../../mixins/dropdown/dropdown
include ../../mixins/button/button

mixin card_room()
    .card_room
        h1.card_room__title Найдём номера под ваши пожелания
