@import "../../../scss/mixins/color";

.checkbox_buttons {
  margin: 20px 0 17px 0;

  &__title {
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    @include color('d', 1);
    margin-bottom: 17px;
  }

  &__item {
    position: relative;
    display: flex;
    line-height: 18px;
    @include color('d', 0.5);
    margin-bottom: 10px;
  }

  &__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
  }

  &__svg {
    display: none;
    // overflow: hidden;
    // z-index: 99999;
    // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}

.focus-subscript-input {
  width: 266px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
}