@import "../../../scss/mixins/color";

.checkbox_buttons {
  margin: 20px 0 17px 0;

  &__title {
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    @include color('d', 1);
    margin-bottom: 17px;
  }

  &__item {
    position: relative;
    display: flex;
    line-height: 18px;
    @include color('d', 0.5);
    margin-bottom: 10px;
  }

  &__rectangle-off {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
  }

  &__rectangle-on {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #BC9CFF;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
  }

  &__path_off {
    display: none;
  }

  &__title_item {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
  }
}