include ../../header/header

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='images/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    //- .wrapper
    .layout_header
      +header()
        button.login_button войти
        button.register зарегистрироваться
    .layout_header_reg
      +header()
        .header__user Юрий Бондаренко
    .layout_footer
      include ../../footer/footer.pug
    .layout_copyright
      include ../../copyright/copyright.pug
