
.layout_header {
  height: 70px;
  margin: 140px 0 0 0;
}

.layout_header_reg {
  height: 70px;
  margin: 40px 0 40px 0;
}

.layout_footer {
  height: 443px;
  margin: 40px 0 40px 0;
}

.layout_copyright {
  height: 367px;
  margin: 40px 0 140px 0;
}