doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='img/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    .wrapper
      include ../header/header.pug
      include ../content/content.pug
      include ../footer/footer.pug
