
mixin review_form()
    .review_form 
        .review_form__icon 
            img.review_form__icon_img(
                src=require('./images/icon_ava_1.png').default 
                alt='icon_ava'
            )
            .review_form__icon_like
                +like_button()
        .review_form__content
            .review_form__content_name Мурад Сарафанов
            .review_form__content_time 5 дней назад
            .review_form__content_text
                |Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.