@import "../../scss/mixins/color";

.radio_buttons {
  position: relative;
  display: flex;
  line-height: 18px;
  @include color('d', 0.5);
  // margin: 20px 0 17px 0;

  &__title {
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    @include color('d', 1);
    margin-bottom: 17px;
  }

  &__male {
    position: relative;
    display: flex;
  }

  &__female {
    position: relative;
    display: flex;
  }

  &__btn_male {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    border-radius: 10px;
    background: #fff;
  }

  &__btn_female {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    border-radius: 10px;
    background: #fff;
  }

  &__text_male {
    margin: 0 20px 0 10px;
  }

  &__text_female {
    margin: 0 20px 0 10px;
  }

  &__text_active {
    @include color('d', 0.75);
    margin: 0 20px 0 10px;
  }

  &__circle-off {
    stroke: rgba(31, 32, 65, 0.25);
  }

  &__ball-off {
    display: none;
  }
}