
mixin checkbox_list()
    .checkbox_list
        .checkbox_list__header
            .checkbox_list__title expandable checkbox list
            button.checkbox_list__btn#checkbox_list_btn
                svg(width='12' height='8' viewbox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path.checkbox_list__btn_path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z')

        .checkbox_list__menu.is-hidden

            - const db_arr = [
            -    {
            -        id_btn: 'checkbox_list__rectangle_breakfast',
            -        id_path1: 'checkbox_list__path_breakfast1',
            -        id_path2: 'checkbox_list__path_breakfast2',
            -        content_item: 'Завтрак'
            -    },
            -    {
            -        id_btn: 'checkbox_list__rectangle_desk',
            -        id_path1: 'checkbox_list__path_desk1',
            -        id_path2: 'checkbox_list__path_desk2',
            -        content_item: 'Письменный стол'
            -    },
            -    {
            -        id_btn: 'checkbox_list__rectangle_chair',
            -        id_path1: 'checkbox_list__path_chair1',
            -        id_path2: 'checkbox_list__path_chair2',
            -        content_item: 'Стул для кормления'
            -    },
            -    {
            -        id_btn: 'checkbox_list__rectangle_crib',
            -        id_path1: 'checkbox_list__path_crib1',
            -        id_path2: 'checkbox_list__path_crib2',
            -        content_item: 'Кроватка'
            -    },
            -    {
            -        id_btn: 'checkbox_list__rectangle_television',
            -        id_path1: 'checkbox_list__path_television1',
            -        id_path2: 'checkbox_list__path_television2',
            -        content_item: 'Телевизор'
            -    },
            -    {
            -        id_btn: 'checkbox_list__rectangle_shampoo',
            -        id_path1: 'checkbox_list__path_shampoo1',
            -        id_path2: 'checkbox_list__path_shampoo2',
            -        content_item: 'Шампунь'
            -    },
            -]
            each val in db_arr
                .checkbox_list__item
                    button.checkbox_list__rectangle-off(id=val.id_btn)
                        svg(width='10' height='11' viewbox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path.checkbox_list__path-off(id=val.id_path1)(d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(#paint0_linear)')
                            path.checkbox_list__path-off(id=val.id_path2)(d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(#paint1_linear)')
                            defs
                                lineargradient#paint0_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
                                    stop(stop-color='#BC9CFF')
                                    stop(offset='1' stop-color='#8BA4F9')
                                lineargradient#paint1_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
                                    stop(stop-color='#BC9CFF')
                                    stop(offset='1' stop-color='#8BA4F9')
                    .checkbox_list__title_item!= val.content_item



            //- .checkbox_list__item
            //-     button.checkbox_list__rectangle-off#checkbox_list__rectangle_desk
            //-         svg(width='10' height='11' viewbox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-             path.checkbox_list__path-off#checkbox_list__path_desk1(d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(#paint0_linear)')
            //-             path.checkbox_list__path-off#checkbox_list__path_desk2(d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(#paint1_linear)')
            //-             defs
            //-                 lineargradient#paint0_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
            //-                     stop(stop-color='#BC9CFF')
            //-                     stop(offset='1' stop-color='#8BA4F9')
            //-                 lineargradient#paint1_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
            //-                     stop(stop-color='#BC9CFF')
            //-                     stop(offset='1' stop-color='#8BA4F9')
            //-     .checkbox_list__title_desk Письменный стол
            //- .checkbox_list__item
            //-     button.checkbox_buttons__rectangle-off#checkbox_list__rectangle_chair
            //-         svg(width='10' height='11' viewbox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-             path.checkbox_list__path-off#checkbox_list__path_chair1(d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(#paint0_linear)')
            //-             path.checkbox_list__path-off#checkbox_list__path_chair2(d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(#paint1_linear)')
            //-             defs
            //-                 lineargradient#paint0_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
            //-                     stop(stop-color='#BC9CFF')
            //-                     stop(offset='1' stop-color='#8BA4F9')
            //-                 lineargradient#paint1_linear(x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientunits='userSpaceOnUse')
            //-                     stop(stop-color='#BC9CFF')
            //-                     stop(offset='1' stop-color='#8BA4F9')
            //-     .checkbox_list__title_chair Стул для кормления