@import "../../../scss/mixins/color";

.wrapper {
  display: flex;
  position: relative;
  background: #fff;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 635px;
  margin-top: 140px;

  &__text_field_default {
    margin: 20px 0 20px 0;
  }

  &__text_field_hover {
    margin: 20px 0 20px 0;
  }

  &__dropdown {
    margin-bottom: 23px;
  }

  &__text-field {
    background: #FFFFFF;
    width: 320px;
    height: 635px;
  }

  &__text_field_header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    width: 320px;
    margin-bottom: 5px;
  }

  &__masked_text_field {
    margin-bottom: 40px;
  }

  &__subscription {
    margin-top: 41px;
  }
  
  &__checkbox {
    background: #ffffff;
    width: 320px;
    height: 635px;
  }

  &__checkbox_buttons {
    margin-top: 20px;
  }

  &__radio_buttons {
    margin: 41px 0 37px 0;
  }

  &__toggle {
    margin: 20px 0 17px 0;
  }

  &__toggle_1 {
    margin-top: 16px;
  }

  &__toggle_2 {
    margin-top: 14px;
  }

  &__like_button {
    margin: 40px 0 40px 0;
  }

  &__like_button_items{
    margin-top: 16px;
    display: flex;
  }

  &__like_button_item {
    margin-right: 10px;
  }

  &__rate_button_items {
    margin-top: 16px;
    display: flex;
  }

  &__rate_button_item {
    margin-right: 20px;
  }

  &__buttons {
    background: #FFFFFF;
    width: 320px;
    height: 635px;
  }
  &__buttons_item {
    display: flex;
    margin: 0 0 30px 0;
  }

  &__btn_1 {
    margin: 16px 19px 0 0;
  }

  &__btn_2 {
    margin-top: 16px;
  }

  &__btn_transparent_1 {
    margin: 0 19px 0 0;
  }

  &__buttons_link_1 {
    margin: 0 19px 0 0;
  }

  &__buttons_pagination {
    flex-direction: column;
  }
}

.dropdown {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 266px;
  margin-top: 100px;

  &__block1 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
  &__block2 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
  &__block3 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 266px;
  margin-top: 55px;
  &__block1 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
  &__block2 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
  &__block3 {
    background: #fff;
    width: 320px;
    height: 266px;
  }
}

.comments {
  display: flex;
  justify-content: flex-start;
  width: 1158px;
  height: 154px;
  margin-top: 105px;
  margin-bottom: 131px;
  &__block1 {
    background: #fff;
    width: 320px;
    height: 154px;
  }
  &__block2 {
    background: #fff;
    width: 740px;
    height: 154px;
    margin-left: 100px;
  }
}
