include ../../mixins/text_field/text_field
include ../../mixins/dropdown/dropdown
include ../../mixins/masked_text_field/masked_text_field

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='images/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    .wrapper
        .container 
            .buttons 
                .buttons__text-field
                  +textField('action', 'text', 'Email', 'text field', 'default')
                  +textField('action', 'text', 'This is pretty awesome', 'text field', 'Hover / Focus')
                  +dropdown('action', 'text', 'Сколько гостей', 'dropdown', '')
                  +masked_text_field('masked text field')
                .buttons__checkbox 
                  
                .buttons__buttons
            .dropdown 
                .dropdown__block1
                .dropdown__block2
                .dropdown__block3
            .checkbox 
                .checkbox__block1 
                .checkbox__block2 
                .checkbox__block3 
            .comments 
                .comments__block1 
                .comments__block2 