include ../../mixins/text_field/text_field
include ../../mixins/dropdown/dropdown
include ../../mixins/date_dropdown/date_dropdown
include ../../mixins/filter_date_dropdown/filter_date_dropdown
include ../../mixins/subscription_text_field/subscription_text_field
include ../../mixins/masked_text_field/masked_text_field
include ../../mixins/checkbox_buttons/checkbox_buttons
include ../../mixins/radio_buttons/radio_buttons
include ../../mixins/toggle_btn/toggle_btn
include ../../mixins/like_button/like_button
include ../../mixins/rate_button/rate_button
include ../../mixins/button/button
include ../../mixins/btn_additional/btn_additional
include ../../mixins/link_main/link_main
include ../../mixins/pagination/pagination

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='images/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    .wrapper
        .container 
            .buttons 
                .buttons__text-field
                  +textField('action', 'text', 'Email', 'text field', 'default')
                  +textField('action', 'text', 'This is pretty awesome', 'text field', 'Hover / Focus')
                  +dropdown('action', 'text', 'Сколько гостей', 'dropdown', '')
                  +masked_text_field('masked text field')
                  +date_dropdown('date Dropdown', 'date Dropdown')
                  +filter_date_dropdown('filter date Dropdown')
                  +subscription_text_field('subscription text field')
                .buttons__checkbox 
                  +checkbox_buttons()
                  +radio_buttons()
                  +toggle()
                  +like_button()
                  +rate_button()
                .buttons__buttons
                  .buttons__buttons_renge_slider
                    h3 Range Slider
                  .buttons__buttons_buttons 
                    h3 buttons
                    .buttons__buttons_item
                      .buttons__btn_1
                        +btn_additional('click me')(class="btn_additional__default")
                      .buttons__btn_2
                        +btn_additional('click me')(class="btn_additional__default")
                    .buttons__buttons_item
                      .buttons__btn_transparent_1
                        +btn_additional('click me')(class="btn_additional__transparent")
                      .buttons__btn_transparent_2
                        +btn_additional('click me')(class="btn_additional__transparent")
                    .buttons__buttons_item
                      .buttons__buttons_link_1
                        +link_main('click me')(class="link_main__default")
                      .buttons__buttons_link_2
                        +link_main('click me')(class="link_main__default")
                    .buttons__buttons_item
                      +button('перейти к оплате')(class="button__default_pathOn")
                    .buttons__buttons_item.buttons__buttons_pagination
                      h3 pagination
                      .buttons__pagination
                        +pagination('15')(class="pagination__default_pathOn")
            .dropdown 
                .dropdown__block1
                .dropdown__block2
                .dropdown__block3
            .checkbox 
                .checkbox__block1 
                .checkbox__block2 
                .checkbox__block3 
            .comments 
                .comments__block1 
                .comments__block2 