
//- form.form_text_field#form_text_field(action='')
//-   input.form_text_field-input#input_text_field(type='text' placeholder='Email')
form.form#form(action='')
  input.input#input(type='text' placeholder='Email')