.text_field 
  .form_text_field_header
    .form_text_field_header__left text field
    .form_text_field_header__right default
  form.form_text_field#form_text_field(action='')
    input.form_text_field-input#input_text_field(type='text' placeholder='Email')
      //- input.form-button(type='submit')