.form_text_field 
  .form_header
    .form_header__left text field
    .form_header__right default
  form.form(action='')
    input.form-input(type='text' placeholder='Email')
      //- input.form-button(type='submit')