@import "../../scss/mixins/color";

.form_text_field {
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}

.input_text_field {
  border: none;
  outline: none;
  width: 230px;
  vertical-align: middle;
  margin-top: 13px;
  margin-left: 15px;
  &::placeholder {
    @include color('d', 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

.focus_text_field {
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
}


// .form-button {
//   text-indent:-9999px;
//   width: 42px;
//   height: 42px;
//   border: none;
//   padding: 0;
//   // background-image: url('/Users/ysbondarenko/Desktop/Work/1Self-study/39_MetaLamp/src/components/footer/images/arrow_forward.png') no-repeat 50% 50%;
// }