@import "../../scss/mixins/color";

<<<<<<< HEAD
.form_text_field {
=======
.form {
>>>>>>> 615be7ec1b31f5f15abee012ac178f815fd92a8e
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}

<<<<<<< HEAD
.input_text_field {
=======
.input {
>>>>>>> 615be7ec1b31f5f15abee012ac178f815fd92a8e
  border: none;
  outline: none;
  width: 230px;
  vertical-align: middle;
  margin-top: 13px;
  margin-left: 15px;
  &::placeholder {
    @include color('d', 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

<<<<<<< HEAD
.focus_text_field {
=======
.focus {
>>>>>>> 615be7ec1b31f5f15abee012ac178f815fd92a8e
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
}
