@import "../../scss/mixins/color";

.buttons {
    &__text_field_header-left {
        margin-bottom: 5px;
    }
}


.datepicker-here {
    border: none;
    outline: none;
    width: 290px;
    vertical-align: middle;
    margin: 12px 15px 11px 15px;

    &::placeholder {
        @include color('d', 0.75);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
}

.form {

    &__dropdown {
        position: relative;
        display: flex;
        width: 320px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        min-height: 44px;
        box-sizing: border-box;
        border-radius: 4px;

        &:hover {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }
}