include ../../mixins/date_dropdown/date_dropdown
include ../../mixins/dropdown/dropdown
include ../../mixins/button/button
include ../../mixins/radio_buttons/radio_buttons
include ../../mixins/text_field/text_field

mixin card_account_reg()
    .card_account_reg
        h1.card_account_reg__title Регистрация аккаунта
        .card_account_reg__input_name
            +textField("action", "Имя", "Email", "", "")
        .card_account_reg__input_surname
        .card_account_reg__radio
            +radio_buttons()