include ../../date_dropdown/date_dropdown
include ../../dropdown/dropdown
include ../../button/button

mixin card_booking()
    .card_booking
        .card_booking__title
            .card_booking__left № 
                span.card_booking__num_room 888 
                span.card_booking__comfort люкс
            .card_booking__right
                span.card_booking__price_num_day 9 990₽ 
                |в сутки
        .card_booking__date_dropdown
            +date_dropdown('прибытие', 'выезд')
        .card_booking__dropdown
            +dropdown('action', 'text', 'Сколько гостей', 'гости', '')
        .card_booking__price 
            .card_booking__price 
                .card_booking__price_day.jcsb
                    .card_booking__price_day_left 9 990₽ х 4 суток
                    .card_booking__price_day_rihgt 39 960₽
                .card_booking__price_fees.jcsb
                    .card_booking__price_fees_left Сбор за услуги: скидка 2 179₽
                    .card_booking__price_fees_right 0₽
                .card_booking__price_services.jcsb
                    .card_booking__price_services_left Сбор за дополнительные услуги
                    .card_booking__price_services_right 300₽
                .card_booking__price_total.jcsb
                    .card_booking__price_total_left Итого
                    .card_booking__price_total_right 38 081₽
        .card_booking__btn
            +button('забронировать')(class="button__default_pathOn")