include ../../cards/card_search_num/card_search_num
include ../../cards/card_account_reg/card_account_reg
include ../../cards/card_booking/card_booking
include ../../cards/calendar/calendar
include ../../cards/card_enter/card_enter
include ../../cards/card_room/card_room

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='images/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    .wrapper
      .container 
        .cards_container
          .item1
            +card_search_num()
            .cards_container__account_reg
              +card_account_reg()
          .item2
            +card_booking()
            .cards_container__enter
              +card_enter()
          .item3
            +calendar()
            .cards_container__room
              .cards_container__item_room
                +card_room('888', ' люкс', '9 990₽ ', '145')
                  .card_room__slider_item
                    img.card_room__img(id="card_room_slider1" src=require('./images/card_room(1).png').default alt='logo')
                  .card_room__slider_item
                    img.card_room__img(id="card_room_slider2" src=require('./images/card_room(2).png').default alt='logo')
                  .card_room__slider_item
                    img.card_room__img(id="card_room_slider3" src=require('./images/card_room(3).png').default alt='logo')
                  .card_room__slider_item
                    img.card_room__img(id="card_room_slider4" src=require('./images/card_room(4).png').default alt='logo')