include ../../cards/card_search_num/card_search_num
include ../../cards/card_account_reg/card_account_reg
include ../../cards/card_booking/card_booking
include ../../cards/calendar/calendar

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='images/Group.png' type='image/x-icon')
    link(rel='stylesheet')
    title TOXIN
  body
    .wrapper
      .container 
        .cards_container
          +card_search_num()
          +card_booking()
          +calendar()
          +card_account_reg()
