@import "../../scss/mixins/color";

.footer {
  min-height: 372px;

  &__footer {
    background: #FFFFFF;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__menu {
    max-width: 160px;
  }

  &__logo-content {
    @include color(7);
    padding-right: 20;
  }

  &__menu-title {
    @include color(1);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
    margin-left: 0;
  }

  &__menu-list {
    padding-top: 21px;
    padding-left: 0;
    margin: 0;
  }

  &__menu-item {
    list-style-type: none;
    margin-bottom: 20px;
  }

  &__menu-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    @include color(5);
    text-transform: none;
    text-decoration: none;
  }

  &__copyright {
    background: #FFFFFF;
    height: 70px;
    margin-top: 1px;
  }

  &__logo-content--text {
    max-width: 260px;
  }

  &__subscription-title {
    margin: 0;
    margin-top: 4px;
  }

  &__subscription-content {
    font-size: 14px;
    line-height: 24px;
    @include color(7);
    max-width: 260px;
  }

  &__form {
    width: 260px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    min-height: 44px;
  }

  &__form-input {
    border: none;
    outline: none;
    width: 213px;
    vertical-align: middle;
    &::placeholder {
      @include color(5);
      text-indent: 15px;
    }
  }

  &__form-button {
    text-indent:-9999px;
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    background-image: url('/Users/ysbondarenko/Desktop/Work/1Self-study/39_MetaLamp/src/components/footer/images/arrow_forward.png') no-repeat 50% 50%;
  }

  &__copyright {
    display: flex;
    align-items: center;
  }

  &__copyright-inner {
    display: flex;
    justify-content: space-between;
  }

  &__social1-list {
    display: flex;
  }

  &__social1-link {
    margin-left: 20px;
  }
}

.copyright {
  position: absolute;
  top: 843px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  // height: 843px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 843px;
  background: #FFFFFF;
  width: 768px;
  height: 367px;

  &__logo {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 25px;
  }
}