@import "~normalize.css";

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

:root {
  --color-black: #000;
  --color-white: #fff
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1F204180 50%
}

img {
  max-width: 100%
}

a {
  text-decoration: none;
  color: inherit
}

.site-container {
  overflow: hidden
}

.is-hidden {
  display: none !important
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px
}