doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='img/Group.png' type='image/x-icon')
    link(rel='stylesheet' href='css/css/main.css')
    title TOXIN
  body
    .wrapper
      header.header
        .container
          .header__logo
            a.logo(href='#')
              img(src='img/Group.png' alt='iogo')
              img(src='img/TOXIN.png' alt='logo')
            .header__inner
              nav.menu
                ul.menu__list
                  li.menu__list-item
                    a.menu__list-link.menu__list-link--active(href='#') О нас
                  li.menu__list-item
                    a.menu__list-link.menu__list-link--services(href='#') Услуги
                  li.menu__list-item
                    a.menu__list-link(href='#') Вакансии
                  li.menu__list-item
                    a.menu__list-link(href='#') Новости
                  li.menu__list-item
                    a.menu__list-link.menu__list-link--services(href='#') Соглашения
              button.login-button войти
              button.register зарегистрироваться
      main.main
      footer.footer
        .container
          .footer__content
            .footer__logo-content
              a.logo(href='#')
                img(src='img/Group.png' alt='iogo')
                img(src='img/TOXIN.png' alt='logo')
              p.footer__logo-content--text
                | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.footer__menu
              h3.footer__menu-title навигация
              ul.footer__menu-list
                li.footer__menu-item
                  a.footer__menu-link(href='#') О нас
                li.footer__menu-item
                  a.footer__menu-link(href='#') Новости
                li.footer__menu-item
                  a.footer__menu-link(href='#') Служба поддержки
                li.footer__menu-item
                  a.footer__menu-link(href='#') Услуги
            .footer__info
              h3.footer__info-title о нас
              ul.footer__info-list
                li.footer__info-item
                  a.footer__info-link(href='#') О сервисе
                li.footer__info-item
                  a.footer__info-link(href='#') Наша команда
                li.footer__info-item
                  a.footer__info-link(href='#') Вакансии
                li.footer__info-item
                  a.footer__info-link(href='#') Инвесторы
            .footer__support
              h3.footer__support-title Служба поддержки
              ul.footer__support-list
                li.footer__support-item
                  a.footer__support-link(href='#') Соглашения
                li.footer__support-item
                  a.footer__support-link(href='#') Сообщества
                li.footer__support-item
                  a.footer__support-link(href='#') Связь с нами
            .footer__subscription
              h3.footer__subscription-title Подписка
              p.footer__subscription-content
                | Получайте специальные предложения и новости сервиса
              form.footer__form(action='')
                input.footer__form-input(type='text' placeholder='Email')
                button.footer__form-button(type='submit')
        .footer__copyright
          .container
            .footer__copyright-text
              | Copyright © 2018 Toxin отель. Все права защищены.
            .footer__copyright-social1
              .footer__social1-list
                .footer__social1-item
                  a.footer__social1-link(href='#')
                    img(src='img/twitter.png' alt='twitter')
                .footer__social1-item
                  a.footer__social1-link(href='#')
                    img(src='img/facebook.png' alt='facebook')
                .footer__social1-item
                  a.footer__social1-link(href='#')
                    img(src='img/instagram.png' alt='instagram')
