doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='img/Group.png' type='image/x-icon')
    link(rel='stylesheet' href='css/css/main.css')
    title TOXIN
  body
    .wrapper
      include Ul_kit/Header/header.pug
      main.main
      include Ul_kit/Footer/footer.pug
