//- extends pages/Form_Element
//- extends pages/Cards
//- extends pages/Header_Footer
//- extends pages/Landing_page
//- extends pages/Page_search_room
//- extends pages/Page_details_room
extends pages/Page_reg_page
