html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}

img {
  max-width: 100%;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
