@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

.header {
  &__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
  }
}

.logo {
  display: flex;
  align-items:center;
  margin: 0;
  img:first-child {
    margin-right: 12.5px;
  }
}

.menu {
  &__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }
  &__list-link{
    margin-right: 20px;
    position: relative;
  }
  &__list-link--services::after {
    content: url('../../img/expand_more.svg');
    margin-left: 5px;
    width: 24px;
    height: 21px;
    top: 3px;
  }
  &__list-link--active{
    font-weight: bold;
    color: rgba(31, 32, 65, 0.5);
  }
}

.login-button {
  border: 2px solid #BC9CFF;
  // border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 1;
  //linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 87px;
  height: 34px;
  border-radius: 22px;
  margin-right: 20px;
  font-weight: bold;
  color: #BC9CFF;
  background: #fff;
}

.register {
  border: none;
  width: 196px;
  height: 34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}

.main {
  height: 100px;
}

.footer {
  max-height: 372px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-content--text{
    max-width: 260px;
  }
}